/* style.css */

/* Define o fundo com gradiente e fonte padrão */
body {
  
  background-color: #f0f8ff; /* azul claro */

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Arredonda os cantos do card */
.card {
  border-radius: 10px;
}